@import '~antd/dist/antd.css';

.Card {
	width: 50%;
	margin: 0 auto;
	border-radius: 8px;
}

.List-Buttons {
	float: right;
	margin-right: 5px;
}

.Card-Title {
	float: left;
}

.Card-Badge {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}

.Card-Content {
	float: left;
}

.Dropdown-Button {
	border: none;
	background-color: transparent;
}

.Dropdown-Button:hover {
	border: none;
	background-color: transparent;
}
