.CreateExperimentPlaceholder {
  max-width: 300px;
  min-width: 300px;
  max-height: 380px;
  min-height: 380px;
  margin: 6px 5px 5px;
  flex-grow: 1;
  border: 1px dashed #99cbe4;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &:hover {
    cursor: pointer;
    background: #e6e6e6;
  }
}
