@import '~antd/dist/antd.css';

.Card {
	margin-left: 20px;
	border-radius: 25px;
}

.List-Buttons {
	float: right;
	margin-right: 5px;
}

.Card-Title {
	float: left;
}

.Card-Content {
	float: left;
}
