.Node-List-Item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Node-List-Item > .ant-list-item-content {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
