.ListItem {
  max-width: 300px;
  min-width: 300px;
  word-wrap: break-word;
  margin: 5px;
  flex-grow: 1;
}

.ListItemContent {
  height: 200px;
  display: flex;
  flex-direction: column;

  p {
    flex-grow: 1;
  }
}

.DropdownButton {
  border: none;
  background-color: transparent !important;
  box-shadow: none;

  &hover {
    border: none;
    background-color: transparent;
  }
}

.ListButton {
  margin-right: 5px;
}

.Description {
  color: rgba(0, 0, 0, 0.65);
  width: 100%;
}
