.List {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}

.ListItem {
  max-width: 300px;
  min-width: 300px;
  margin: 5px !important;
  flex-grow: 1;
}

.ListItemContent {
  height: 100px;
  display: flex;
  flex-direction: column;
  p {
    flex-grow: 1;
  }
}

.ListButton {
  margin-right: 5px !important;
}

.DropdownButton {
  border: none !important;
  background-color: transparent !important;
  &hover {
    border: none !important;
    background-color: transparent !important;
  }
}
