.App {
  text-align: center;
}

.Layout {
  height: 100vh;
}

.Header {
  color: white;
}

.Home {
  text-align: center;
}

.Nav-Switch {
  text-align: right;
}

.Content {
  padding: 24px 50px;
  background: #eff1ef;
}

.ant-breadcrumb-separator {
  color: white !important;
}
