body {
  background: rgb(239, 241, 239);
}

.ant-layout {
  background-color: rgb(239, 241, 239);
}

.Modal-Form .ant-input-disabled {
  color: rgba(0, 0, 0, 0.98);
}

.Modal-Form .ant-select-disabled {
  color: rgba(0, 0, 0, 0.98);
}

.Modal-Form .ant-input-number-disabled {
  color: rgba(0, 0, 0, 0.98);
}
